body {
    background-color: #ebebeb;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
.jumbotron {
    background-color: inherit;
}
.gp-btn {
    clear: both;
}
.result-pnl {
margin-top: 50px;

}
.panel .panel-heading h2{
  text-align: center;
}
.result-pnl .panel-body{
height: 200px;
  max-height: 200px;
  overflow: scroll;
}

.result-list{
  list-style: none;
}
