body {
    background-color: #ebebeb;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
.jumbotron {
    background-color: inherit;
}
.gp-btn {
    clear: both;
}
.pnl-resultado {
margin-top: 50px;

}
.panel .panel-heading h2{
  text-align: center;
}
.pnl-resultado .panel-body{
height: 200px;
  max-height: 200px;
  overflow: scroll;
}
.valores {
    float: left;
    width: 300px;
}
.p-resultado-array, .p-resultado-valor {
    display: inline;
}

.lista-resultados{
  list-style: none;
}
