body {
    background-color: #ebebeb;
    font-family: Raleway;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
.titulo, .titulo:hover{
  text-decoration: none;
  color: black;
}
.jumbotron {
    background-color: inherit;
}
.gp-btn {
    margin-top: 19px;
    margin-bottom: -23px;
}
.gp-btn button {
    margin: 5px;
}
.result-pnl {
    margin-top: 50px;
}
.panel .panel-heading h2 {
    text-align: center;
}
.result-pnl .panel-body {
    height: 200px;
    max-height: 400px;
    overflow: scroll;
}
.result-list {
    list-style: none;
}
.table-matrix {
    text-align: center;
}
.dif-color-index {
    background-color: #34495e;
    color: #fff;
}
.center {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
}
.rules {
    margin-left: 20px;
    list-style: decimal;
}
.div-btn {
    display: inline-block;
}
.div-btn input[type="number"] {
    width: 20px;
}
.panel-title{
    text-align: center;
}
.modal-3{
  min-width: 704px;
}

footer{
  position: absolute;
  width: 100%;
  background-color: #444;
  margin: 0;
  text-align: center;
  height: 2.5em;  
}
footer p {
  color: white;
  margin: 0 auto;
  display: inline;
}
.dev-name{
  font-family: Indie Flower;
  font-size: 1.5em;
}
