{% if page.hard == true %}
Capacidade Produtiva
<ul>
    <li>Fábrica 1: 150</li>
    <li>Fábrica 2: 150</li>
</ul>
{% endif %}
<table class="table table-bordered table-matrix">
    <thead>
        <tr>
            <td></td>
            <td class="dif-color-index">Fábrica</td>
            <td class="dif-color-index">P1</td>
            <td class="dif-color-index">P2</td>
            <td class="dif-color-index">P3</td>
            <td class="dif-color-index">P4</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="dif-color-index">Fábrica</td>
            <td>0</td>
            <td>7</td>
            <td>14</td>
            <td>13</td>
            <td>11</td>
        </tr>
        <tr>
            <td class="dif-color-index">P1</td>
            <td>8</td>
            <td>0</td>
            <td>12</td>
            <td>22</td>
            <td>18</td>
        </tr>
        <tr>
            <td class="dif-color-index">P2</td>
            <td>7</td>
            <td>9</td>
            <td>0</td>
            <td>7</td>
            <td>6</td>
        </tr>
        <tr>
            <td class="dif-color-index">P3</td>
            <td>12</td>
            <td>14</td>
            <td>9</td>
            <td>0</td>
            <td>7</td>
        </tr>
        <tr>
            <td class="dif-color-index">P4</td>
            <td>6</td>
            <td>8</td>
            <td>2</td>
            <td>10</td>
            <td>0</td>
        </tr>
    </tbody>
</table>
