<div class="row center">
    <div class="form-inline">
        <button id="randomCal" class="btn btn-primary">Random</button>
        <div class="from-group input-group text-left col-md-5">
            <input class="form-control" id="randomTimes" type="number" min="1">
            <span class="input-group-btn">
                <button id="randomTimesFunc" class="btn btn-primary">Random Times</button>
            </span>
        </div>
        <button id="removeElem" class="btn btn-danger">Clean Results</button>
        <button class="btn btn-default btn-faq" name="button" data-toggle="modal" data-target="#modal-faq">
        <i class="fa fa-question-circle-o fa-lg" aria-hidden="true">
        </i>
        </button>
    </div>
</div>